.navbar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  font-weight: bold;
  margin: 1rem 2.5rem;
}
.nav__links ul {
  display: flex;
  column-gap: 1.5rem;
  list-style-type: none;
}

.nav__links ul li a {
  text-decoration: none;
  color: black;
  padding: 0.5rem 1rem;
  font-size: 1.4rem;
}

a.active {
  color: #7c52a4 !important;
  border-bottom: 0.45rem solid;
  border-radius: 0.5rem;
}