@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;400;700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 62.5%;
}

body,
#root {
  width: 100%;
  height: 100%;
  font-size: 1.6rem;
  position: relative;
}
